apiVersion: v1
kind: Pod
metadata:
  name: mysql-db-pod
  namespace: clo835-assignment2-app
  labels:
    app: mysql-db
    tier: backend
spec:
  containers:
    - name: mysql-container
      image: 103848042406.dkr.ecr.us-east-1.amazonaws.com/clo835-assignment2-db:v0.1
      ports:
        - containerPort: 3306
      env:
        - name: MYSQL_ROOT_PASSWORD
          value: "passw.rd"
        - name: MYSQL_DATABASE
          value: "employees"
        - name: MYSQL_USER
          value: "admin"
        - name: MYSQL_PASSWORD
          value: "pw"
  imagePullSecrets:
    - name: ecr-secret